.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 500px;
  margin: 15px auto;
}

.card {
  aspect-ratio: 3/4;  
  width: 100%;
  border-radius: 6px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #39813A;
  border-radius: 6px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back{
  background-image: url('../image/back.png'); 
  backface-visibility: hidden; 
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card{
  filter: saturate(0);
  opacity: 0.5;
}