.login-form{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login_header{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;  
}

.login_header img {
  width: 100px;  
}

.login_header h1 {
  color: #333;
  font-size: 1.5em;  
}

.login_input{
  border:  2px solid #333;
  border-radius: 12px;
  color: #333;
  font-size: 1em;
  margin-bottom: 16px;
  max-width: 300px;
  width: 100%;
  outline: none;
  padding:8px;
}

.login_button {
  background-color: #f05f55;
  color: rgb(245, 241, 241);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 8px;
  width: 100%;
}

.login_button:disabled {
  background-color: rgb(233, 221, 221);
  color: #AAA;
  cursor: auto;
}